@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Montserrat:wght@800&display=swap&family=Fredoka');

/* Aucune bordure */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    border-spacing: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
    font-weight: normal;
}

h1 {font-size: 3rem; font-weight: bold; font-family: 'Montserrat', sans-serif;}
h2 {font-size: 2rem; font-family: 'Alegreya Sans', sans-serif;}
h3 {font-size: 1.1rem; font-weight: bolder;}
h4 {font-size: 1rem; font-weight: bolder; font-family: 'Montserrat', sans-serif;}
p {font-size: 1rem; font-family: 'Alegreya Sans', sans-serif; }

/************ HEADER *********/

button:hover {
    cursor: pointer;
}

header {
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.hero {
    position: relative;
    width: 100%;
    height: 100%;
}
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.image-1 {
    background-image: url('../img/background.jpeg');
    left: 0;
}
.image-2 {
    background-image: url('../img/pc.jpg');
    left: 50%;
}
#header-container {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 100;
    width: fit-content;
    max-height: fit-content;
    align-items: center;
}
#header-container img {
    margin-right: 4rem;
    height: 18rem;
    max-height: 100%;
}
#header-container div {
    display: flex;
    flex-direction: column;
    margin: 0;
}
#header-container div h2 {
    color: #D3584C;
    line-height: 2rem;
}
#header-container div h1 {
    margin-top: 2rem;
    color: #fefefe;
    line-height: 3rem;
}

.angle-bracket-down {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.angle-bracket-down img{
    width: 100%;
}

/*********** MAIN **********/

main {
    display: flex;
    background-image: url('../img/background2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#first{
    background-color: white;
    width: 75vw;
    height: 70vh;
    display: flex;
    margin: auto;
    padding: 3rem;
    box-shadow: 5px 5px 5px rgba(204, 204, 204, 0.537);
}

.main_img {
    height: 35rem;
    margin-right: 2rem;
    margin-top: -5rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description-bis {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description-bis p {
    width: 90%;
}
.description-bis h4 {
    margin-top: 2rem;
}

.clock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clock h3 {
    color: red;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.clock_div {
    display: flex;
    justify-content: space-between;
    max-height: fit-content;
    align-items: center;
    background: #f0c7bf;
    color: #D3584C;
    height: 4rem;
    padding: 1rem;
    box-shadow: 0px 3px 3px rgb(208, 208, 208);
    margin-right: -3rem;
}

.clock_div img {
    margin-right: 1rem;
    align-self: center;
}

.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2.6rem;
}
.paragraph p, .paragraph h4{
    padding: .4rem;
    width: 85%;
}

.bold-p {
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

.violet-p {
    margin-top: 1rem;
    color: #7a126b;
    font-weight: bold;
}

/********* BUTTONS **********/

.angle-bracket-down {
    background-color: red;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    border: none;
}

.arrow_right, .arrow_left {
    color: white;
    background-color: #7a126b;
    width: 40px;
    height: 40px;
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 5px;
    display: block;
    line-height: 0px;
    border-radius: 50%;
    border: none;
}
.arrow_right:hover, .arrow_left:hover {
    color: #7a126b;
    background-color: rgb(192, 154, 227);
}
.previous {
    margin-left: auto;
    margin-right: 0;
}

/************ PAGE 2 ************/

.button_div {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .8rem;
    color: #fefefe;
    background-color: #E1251B;
    border-radius: .2rem;
    font-weight: bold;
    border: none;
}
.start-button span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding-left: .4rem;
    padding-bottom: 4px;
}

.start-button:hover {
    color: #E1251B;
    background-color: #FFB9A2;
}